---
---

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap");

html, body, header, nav, main, section, footer, div, p, pre, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 20px;
    font-weight: 300;
    font-family: "Noto Sans KR", sans-serif;
    color: {{ site.base_color }};
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 700;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: {{ site.base_color }};
}

img {
    vertical-align: bottom;
}
