<style>
  /* megamenu structure */
  .mm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    overflow: hidden;
  }
  .mm_expand {
    height: auto !important;
  }
  .mm .mm_head {
    height: 70px;
  }
  .mm .mm_brand,
  .mm .mm_button {
    display: inline-block;
    height: 100%;
    position: relative;
  }
  .mm .mm_brand {
    float: left;
  }
  .mm .mm_button {
    float: right;
  }
  .mm .mm_brand > div,
  .mm .mm_button > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .mm .mm_body {
    height: calc(100vh - 70px);
    position: relative;
    overflow: auto;
  }
  .mm .mm_item_wrapper {
    position: absolute; /* $('.mm_body').height() < $('.mm_item').height() 일 경우 static */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mm_static {
    position: static !important;
    transform: none !important;
  }
  
  /* styling */
  .mm {
    text-align: center;
  }
  .mm_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: {{ site.header_color }}
  }
  .mm .mm_item_title {
    font-size: 20px;
    font-weight: 700;
  }
  .mm .mm_item_subs {
    font-size: 16px;
    font-weight: 300;
  }
</style>
<nav class="mm">
  <div class="mm_bg">
    &nbsp;
  </div>
  <div class="mm_container container">
    <div class="mm_head">
      <div class="mm_brand">
        <div>
          <img src="https://via.placeholder.com/150x50" alt="BI or CI"/>
        </div>
      </div>
      <div class="mm_button">
        <div>
          {% include hamburger.html %}  
        </div>
      </div>  
    </div>
    <div class="mm_body">
      <div class="mm_item_wrapper">
        {% for menu in site.menus %}
          <div class="mm_item">
            <div class="mm_item_title">
              <div>{{ menu.title }}</div>
            </div>
            {% assign to = menu.subs.size | minus: 1 %}
            {% for i in (0..to) %}
              <div class="mm_item_subs">
                <div><a href="{{ menu.urls[i] | relative_url }}">{{ menu.subs[i] }}</a></div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
<script>
  var $mm = $('.mm');
  var $mm_body = $('.mm .mm_body');
  var $mm_item_wrapper = $('.mm .mm_item_wrapper');
  var $window = $window || $(window);
  
  var toggle_static = function() {
    ($mm_body.height() < $mm_item_wrapper.height()) ? $mm_item_wrapper.addClass('mm_static') : $mm_item_wrapper.removeClass('mm_static');
  };
  
  toggle_static();
  $window.resize(function() {
    toggle_static();
  });
  
  /* hamburger manipulation */
  var $button = $('.hamburger input');
  $button.click(function() {
    $(this).prop('checked') ? $mm.addClass('mm_expand') : $mm.removeClass('mm_expand');
  });
</script>