---
---

<!doctype html>
<html lang="ko">
  <head>
    <script>
      if(/MSIE d|Trident.*rv:/.test(navigator.userAgent)) {
        window.location = 'microsoft-edge:' + window.location;
          setTimeout(function() {
        window.location = 'https://support.microsoft.com/office/160fa918-d581-4932-9e4e-1075c4713595';
        }, 1);
      }
    </script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/res/global.css" | relative_url }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <script>
      var set_body_height = function() {
        $('body').css('height', $(window).innerHeight() + 'px');
      };
      
      $(document).ready(function() {
        set_body_height();
      });
      $(window).resize(function() {
        set_body_height();
      });
    </script>
    <header>
      {% include nav.html %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
